.interface2span
{
	margin : 10px;
	min-width: 5px;
	border-radius:5px;
	background-color:white;
	border: 3px solid WHITE;
	font-weight:bold;
	padding:15px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	display:inline-block;
	font-size:1.3em;
}

.blue 
{
    border: 3px solid #070132 !important;
}

/* button styles C6CFFF 9692EB       border-radius:5px; */